body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

#board {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.arrows {
    position: absolute;
    pointer-events: none;
    z-index: 3;
}

.arrow {
    pointer-events: none; /* Wyłącza interakcje z pojedynczą strzałką */
}
.arrow-head {
    cursor: pointer;

}


.square{
    width: 12.5%;
    height: 12.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.white{

    background-color: #eee;


}

.black{
    background-color: #444;
}

.piece{

    width: 100%;
    z-index: 1;
    cursor: pointer;

}

.piece img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.coordinate{

    height: auto;
    display: flex;
    bottom: 4%;
    left: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdanam Geneva, Tahoma, sans-serif;
}

.whiteText{
    color: #eee;
}
.blackText{
   color: #444;
}

.rank{
    top:4%;
    right: 4%;
    left: auto;
}

.square.highlight {
    position: relative;
}

.square.highlight::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 55;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #000000CC;
    border-radius: 50%;
    pointer-events: none;
}

@media (min-width: 1000px){
    #board{
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 600px){
    .coordinate{
        font-size: 8px;
    }
}

.promotionOption {
    border-radius: 10px;
    background-color: #6f6f6f;
    color: white;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.promotionOption:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #73c284;
    transform:  scale(1.28);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: black;
}